.lead{
    max-width: 984px;
    min-height: 406px;
    margin: 0 auto;
    background-size: cover;
}
@media screen and (max-width: 767px) {
    .lead {
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        max-width: 320px;
    }
}