.intro{
    max-width: 984px;
    min-height: 429px;
    min-width: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 86px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }
}

